<servicesConfig>
	<serviceUrl>http://ant16.ebi.ac.uk:18180/services</serviceUrl>
	<mirrorDbUri>jdbc:oracle:thin:integr8_mirror/textme@ouzo.ebi.ac.uk:1521:PROT</mirrorDbUri>
	<mirrorDbUploadCmd>/homes/integr8/mirror/bin/extDirFile.sh put ouzo {0}</mirrorDbUploadCmd>
	<mirrorDbListCmd>/homes/integr8/mirror/bin/extDirFile.sh list ouzo {0}</mirrorDbListCmd>
	<mirrorDbDeleteCmd>/homes/integr8/mirror/bin/extDirFile.sh del ouzo {0}</mirrorDbDeleteCmd>
	<mirrorDbDownloadCmd>/homes/integr8/mirror/bin/extDirFile.sh del ouzo {0}</mirrorDbDownloadCmd>
	<dataDirectory>./tmp</dataDirectory>
	<emailAddress>dstaines@ebi.ac.uk</emailAddress>
	<sourceFile>./etc/sources.xml</sourceFile>
	<logFile>./tmp/mirror.log</logFile>
	<apiSrcLocation>./src</apiSrcLocation>
	<maxJobs>50</maxJobs>
	<maxDbConnections>5</maxDbConnections>
	<maxRemoteConnections>5</maxRemoteConnections>
	<maxDbConnectionsTotal>25</maxDbConnectionsTotal>
	<maxRemoteConnectionsTotal>25</maxRemoteConnectionsTotal>
</servicesConfig>
